/* hide horizontal scroll bars */
body {
    overflow-x: hidden;
}

/* center text on an image */
.image-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* title font size */
.title {
    font-size: 110px;
}

/* reverse colour effect */
.reverse-colour{
    color: white;
    mix-blend-mode:difference;
}

/* remove padding */
.no-padding{
    padding: 0;
}

/* make font red */
.red{
    color: red;
}

/* make font white */
.white{
    color: white;
}

/* center text */
.centered{
    text-align: center;
}

/* underline text */
.underlined{
    text-decoration: underline;
}

/* position cards */
.card-left{
    margin-left: 10px;
}
.card-right{
    margin-right: 10px;
}

/* margin */
.margin-left{
    margin-left: 10px;
}

/* make elements grow on hover */
.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.075); 
}

/* split */
.z50{
    z-index: 500;
    position: relative;
}

.left{
    max-width: 50%;
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding: 0;
    margin: 0;
}

.right{
    max-width: 50%;
    position: relative;
    left: 50%;
    right: 50%;
}

/* Style top part of page */

/* Style assets on the right of the music page */
.albumcover{
    max-width:50%; 
    margin:auto;
}

/* Name of the albumn */
.albumtitle{
    text-align: center;
    color: black;
}

/* Description of the albumn */
.albumdesc{
    text-align: center;
    color: black;
}

/* Tracks in the tracklist */
.albumtrack{
    border-color: black;
}

/* Icons */
.icon{
    float: right;
    margin-left: 5px;
}

/* Artists */
.artist{
    color: rgba(0, 0, 0, 0.500);
}

/* Style left side of music page */
/* Top section */
.leftT{
    width: 100%;
    left: 0;
    height: 80px;
}

/* Main/Middle section */
.leftM{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
}

/* Bottom section */
.leftB{
    position: fixed;
    width: 50%;
    height:150px;
    top:513px;
}

/* Video where the music plays */
.video{
    display: block;
    width: 230px;
    height: 230px;
    object-fit: contain;
    margin:auto;
    max-height: 50%;
    max-width: 100%;
}

/* Lyrics div */
#LyricsContainer{
    display: none; 
    overflow-y: scroll;
    overflow-x: hidden;
    max-height:200px; 
    padding-left: 20px; 
    padding-top: 10px;
}

/* Wraps text */
pre{
    white-space: pre-wrap;
    overflow: auto;
  }

/* Style yeezy image */
.lessonimg{
    width:100%;
    min-width:100%;
}

/* Style yeezy cards */
.yeezycard{
    width:30%
}

.video-content{
    position: absolute;
    top:35%;
    left: 25%;
    transform: translate(-25%, -35%);
}
